<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bad Credentials</title>

  <!-- Bootstrap CSS -->
  <link href="../static/css/bootstrap.css" rel="stylesheet"
        th:href="@{/css/bootstrap.css}">
</head>
<body>

  <h1 > Look, i know is hard to remember you email and password, its not your fault, but kinda it is, so try again dumbass </h1>

  <div>
    <a type="button" class="btn btn-warning" th:href="@{/interfaces/index}" methods="get"> Try again </a>
  </div>

</body>
</html>